html {
    font-family: "Lato", sans-serif
} 
td {
    min-width: 20px;
    border: 1px dotted gray;
    text-align: center;
}

table {
    margin: 20px 0;
    background-color: lightgrey;
    width: 100%;
}

td div {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 140px;
    background-color: #fff;
    border-radius: 10px;
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &:before,
    &:after {
        content: "dh";
        position: absolute;
        font-size: 25px;
        font-weight: bold;
    }
    &:before {
        left: 5px;
        top: 5px;
    }
    &:after {
        right: 5px;
        bottom: 5px;
        transform: rotate(180deg);
    }
    &.value-6 {
        &:before,
        &:after {
            content: "6";
        }
    }
    &.value-7 {
        &:before,
        &:after {
            content: "7";
        }
    }
    &.value-8 {
        &:before, 
        &:after {
            content: "8";
        }
    }
    &.value-9 {
        &:before, 
        &:after {
            content: "9";
        }
    }
    &.value-10 {
        &:before,
        &:after {
            content: "10";
        }
    }
    &.value-11 {
        &:before, 
        &:after {
            content: "J";
        }
    }
    &.value-12 {
        &:before, 
        &:after {
            content: "Q";
        }
    }
    &.value-13 {
        &:before,
        &:after {
            content: "K";
        }
    }
    &.value-14 {
        &:before,
        &:after {
            content: "A";
        }
    }
}

.diamonds,
.hearts {
    color: red;
}

.clubs,
.spades {
    color: black;
}

.diamonds {
    background-image: url("img/suit_03.jpg");
}

.hearts {
    background-image: url("img/suit_02.jpg");
}

.clubs {
    background-image: url("img/suit_04.jpg");
}

.spades {
    background-image: url("img/suit_01.jpg");
}
